In [32]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

COVID_19_Activity_df = pd.read_csv('https://query.data.world/s/ynb7kpmvt5dw26vogf5ozoqjqpyhb2')
COVID_19_Activity_df

/Users/indranilroy/opt/anaconda3/envs/PythonData38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Unknown,Colorado,2021-02-02,America,New York Times,0,NaN,USA,United States,US,0,0
1,0,Unknown,Colorado,2021-02-03,America,New York Times,0,NaN,USA,United States,US,0,0
2,0,Unknown,Colorado,2021-02-04,America,New York Times,0,NaN,USA,United States,US,0,0
3,0,Unknown,Colorado,2021-02-05,America,New York Times,0,NaN,USA,United States,US,0,0
4,0,Unknown,Colorado,2021-02-06,America,New York Times,0,NaN,USA,United States,US,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952305,0,Unknown,Colorado,2021-01-28,America,New York Times,0,NaN,USA,United States,US,0,0
2952306,0,Unknown,Colorado,2021-01-29,America,New York Times,0,NaN,USA,United States,US,0,0
2952307,0,Unknown,Colorado,2021-01-30,America,New York Times,0,NaN,USA,United States,US,0,0
2952308,0,Unknown,Colorado,2021-01-31,America,New York Times,0,NaN,USA,United States,US,0,0
2952309,0,Unknown,Colorado,2021-02-01,America,New York Times,0,NaN,USA,United States,US,0,0

In [33]:
#Drop the rows where at least one element is missing
COVID_19_Activity_reduced_df = COVID_19_Activity_df.dropna()
COVID_19_Activity_reduced_df

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
452,0,Kent,Delaware,2020-01-22,America,New York Times,0,10001.0,USA,United States,US,0,0
453,0,Kent,Delaware,2020-01-23,America,New York Times,0,10001.0,USA,United States,US,0,0
454,0,Kent,Delaware,2020-01-24,America,New York Times,0,10001.0,USA,United States,US,0,0
455,0,Kent,Delaware,2020-01-25,America,New York Times,0,10001.0,USA,United States,US,0,0
456,0,Kent,Delaware,2020-01-26,America,New York Times,0,10001.0,USA,United States,US,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2951928,15330,Fremont,Colorado,2022-04-25,America,New York Times,0,8043.0,USA,United States,US,23,179
2951929,15342,Fremont,Colorado,2022-04-26,America,New York Times,0,8043.0,USA,United States,US,12,179
2951930,15345,Fremont,Colorado,2022-04-27,America,New York Times,0,8043.0,USA,United States,US,3,179
2951931,15352,Fremont,Colorado,2022-04-28,America,New York Times,0,8043.0,USA,United States,US,7,179
2951932,15352,Fremont,Colorado,2022-04-29,America,New York Times,0,8043.0,USA,United States,US,0,179

In [34]:
#Identify incomplete rows
COVID_19_Activity_reduced_df["PROVINCE_STATE_NAME"].value_counts()

Texas                       211650
Georgia                     131970
Virginia                    110390
Kentucky                     99600
Missouri                     95450
Kansas                       87150
Illinois                     84660
North Carolina               83000
Iowa                         82170
Tennessee                    78850
Nebraska                     77190
Indiana                      76360
Ohio                         73040
Minnesota                    72210
Michigan                     68890
Mississippi                  68060
Puerto Rico                  64740
Oklahoma                     63910
Arkansas                     62250
Wisconsin                    59760
Pennsylvania                 55610
Florida                      55610
Alabama                      55610
South Dakota                 54780
Louisiana                    53120
Colorado                     53120
California                   48140
New York                     47310
Montana                      46480
West Virginia                45650
North Dakota                 43990
South Carolina               38180
Idaho                        36520
Washington                   32370
Oregon                       29880
New Mexico                   27390
Utah                         24070
Alaska                       22410
Maryland                     19920
Wyoming                      19090
New Jersey                   17430
Nevada                       14110
Maine                        13280
Arizona                      12450
Massachusetts                11620
Vermont                      11620
New Hampshire                 8300
Connecticut                   6640
Hawaii                        4150
Rhode Island                  4150
Northern Mariana Islands      2490
Delaware                      2490
Virgin Islands                2490
District of Columbia           830
Name: PROVINCE_STATE_NAME, dtype: int64

In [52]:
#Groupby State
State_COVID_19_Activity_df = COVID_19_Activity_reduced_df.groupby(["PROVINCE_STATE_NAME"]).sum()
State_COVID_19_Activity_df = State_COVID_19_Activity_df.reset_index()
State_COVID_19_Activity_df

,PROVINCE_STATE_NAME,PEOPLE_POSITIVE_CASES_COUNT,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,Alabama,405536798,19567,5.933587e+07,1300733,7020531
1,Alaska,61362567,1211,4.957092e+07,250471,308637
2,Arizona,622256523,29951,4.997264e+07,2021524,10926042
3,Arkansas,252063162,11385,3.159188e+08,808777,3897105
4,California,2679877541,90419,2.916321e+08,9237118,35666260
5,Colorado,388648482,12366,4.282659e+08,1389860,4553766
6,Connecticut,227090085,10848,5.981312e+07,756004,5323349
7,Delaware,75963633,2907,2.490747e+07,261594,1091533
8,District of Columbia,38274962,1340,9.130830e+06,141943,704965
9,Florida,1768495187,73830,6.710965e+08,5899185,25743232
10,Georgia,782046650,36343,1.736922e+09,2434731,13156720
11,Hawaii,45746410,1406,6.227075e+07,241955,400734
12,Idaho,138452311,4930,5.859269e+08,446138,1565535
13,Illinois,959017025,35644,1.447855e+09,3144294,15357513
14,Indiana,528730245,23566,1.381505e+09,1702292,8725209
15,Iowa,254797539,9529,1.569365e+09,763063,3638757
16,Kansas,231569346,8519,1.752151e+09,776663,2971491
17,Kentucky,360766286,15418,2.103552e+09,1336916,4634403
18,Louisiana,379269445,17248,1.172040e+09,1237028,7323498
19,Maine,53123890,2283,3.056525e+08,244044,600522
20,Maryland,315771433,14423,4.789756e+08,1031797,5933304
21,Massachusetts,460209621,20241,2.906627e+08,1616320,11189553
22,Michigan,676661296,35922,1.796858e+09,2408493,13307112
23,Minnesota,422940851,12508,1.955952e+09,1451743,4722049
24,Mississippi,246576968,12436,1.911261e+09,797161,4872353
25,Missouri,408072392,18692,2.779286e+09,1307175,6136045
26,Montana,82125248,3363,1.397003e+09,274221,1084151
27,Nebraska,152760920,3738,2.400069e+09,475669,1456630
28,Nevada,228539378,10752,4.521624e+08,712287,3662284
29,New Hampshire,73796100,2478,2.739830e+08,304845,874777
30,New Jersey,679562707,33431,5.929860e+08,2255179,17058545
31,New Mexico,149456503,7501,9.594758e+08,522287,2611638
32,New York,798206199,27465,1.706119e+09,2774506,12588785
33,North Carolina,743907099,23415,3.079300e+09,2661333,8435181
34,North Dakota,77419697,2232,1.673951e+09,241127,918787
35,Northern Mariana Islands,1016141,33,1.720839e+08,11153,4327
36,Ohio,794000783,38423,2.854988e+09,2697058,12605705
37,Oklahoma,318669958,14267,2.561321e+09,1039788,4458415
38,Oregon,174563029,7502,1.226156e+09,721311,2068954
39,Pennsylvania,822444626,44663,2.339346e+09,2817766,17059857
40,Puerto Rico,129083270,0,4.666246e+09,547687,0
41,Rhode Island,94913393,3530,1.826208e+08,342433,1612324
42,South Carolina,436183551,17767,1.719856e+09,1474272,6390062
43,South Dakota,82191087,2912,2.523603e+09,237812,1159474
44,Tennessee,606268267,25626,3.713441e+09,1962155,8071640
45,Texas,2105647698,88291,1.021358e+10,6749668,32973699
46,Utah,286487500,4652,1.180128e+09,928257,1526620
47,Vermont,22700088,636,5.811627e+08,122590,185198
48,Virgin Islands,3676567,111,1.942698e+08,16306,31956
49,Virginia,483816097,20236,5.659032e+09,1701458,6908098
50,Washington,367291529,12747,1.716872e+09,1498708,4253927
51,West Virginia,128352952,6856,2.467611e+09,501204,1981426
52,Wisconsin,484989880,14413,3.291049e+09,1610673,4954472
53,Wyoming,46718838,1812,1.069479e+09,156550,540171

In [53]:
# State_COVID_19_Activity_df.drop("COUNTY_FIPS_NUMBER", axis=1, inplace=True)
State_COVID_19_Activity_df.drop(["COUNTY_FIPS_NUMBER", "PEOPLE_POSITIVE_CASES_COUNT","PEOPLE_DEATH_COUNT"], axis=1, inplace=True)
State_COVID_19_Activity_df

,PROVINCE_STATE_NAME,PEOPLE_DEATH_NEW_COUNT,PEOPLE_POSITIVE_NEW_CASES_COUNT
0,Alabama,19567,1300733
1,Alaska,1211,250471
2,Arizona,29951,2021524
3,Arkansas,11385,808777
4,California,90419,9237118
5,Colorado,12366,1389860
6,Connecticut,10848,756004
7,Delaware,2907,261594
8,District of Columbia,1340,141943
9,Florida,73830,5899185
10,Georgia,36343,2434731
11,Hawaii,1406,241955
12,Idaho,4930,446138
13,Illinois,35644,3144294
14,Indiana,23566,1702292
15,Iowa,9529,763063
16,Kansas,8519,776663
17,Kentucky,15418,1336916
18,Louisiana,17248,1237028
19,Maine,2283,244044
20,Maryland,14423,1031797
21,Massachusetts,20241,1616320
22,Michigan,35922,2408493
23,Minnesota,12508,1451743
24,Mississippi,12436,797161
25,Missouri,18692,1307175
26,Montana,3363,274221
27,Nebraska,3738,475669
28,Nevada,10752,712287
29,New Hampshire,2478,304845
30,New Jersey,33431,2255179
31,New Mexico,7501,522287
32,New York,27465,2774506
33,North Carolina,23415,2661333
34,North Dakota,2232,241127
35,Northern Mariana Islands,33,11153
36,Ohio,38423,2697058
37,Oklahoma,14267,1039788
38,Oregon,7502,721311
39,Pennsylvania,44663,2817766
40,Puerto Rico,0,547687
41,Rhode Island,3530,342433
42,South Carolina,17767,1474272
43,South Dakota,2912,237812
44,Tennessee,25626,1962155
45,Texas,88291,6749668
46,Utah,4652,928257
47,Vermont,636,122590
48,Virgin Islands,111,16306
49,Virginia,20236,1701458
50,Washington,12747,1498708
51,West Virginia,6856,501204
52,Wisconsin,14413,1610673
53,Wyoming,1812,156550

In [54]:
# State_COVID_19_Activity_df['PROVINCE_STATE_NAME'].str.lower()
# State_COVID_19_Activity_df

In [55]:
#Read and format US population dataset
US_Population_df = pd.read_csv('Datasets/NST-EST2021-POP.csv')
US_Population_df = US_Population_df.rename(columns = {'STATE': 'PROVINCE_STATE_NAME'})
US_Population_df['PROVINCE_STATE_NAME'] = US_Population_df['PROVINCE_STATE_NAME'].apply(lambda x: x.replace(".",""))
US_Population_df['POPULATION'] = US_Population_df['POPULATION'].apply(lambda x: x.replace(",",""))
US_Population_df

     PROVINCE_STATE_NAME POPULATION
0                Alabama    5039877
1                 Alaska     732673
2                Arizona    7276316
3               Arkansas    3025891
4             California   39237836
5               Colorado    5812069
6            Connecticut    3605597
7               Delaware    1003384
8   District of Columbia     670050
9                Florida   21781128
10               Georgia   10799566
11                Hawaii    1441553
12                 Idaho    1900923
13              Illinois   12671469
14               Indiana    6805985
15                  Iowa    3193079
16                Kansas    2934582
17              Kentucky    4509394
18             Louisiana    4624047
19                 Maine    1372247
20              Maryland    6165129
21         Massachusetts    6984723
22              Michigan   10050811
23             Minnesota    5707390
24           Mississippi    2949965
25              Missouri    6168187
26               Montana    1104271
27              Nebraska    1963692
28                Nevada    3143991
29         New Hampshire    1388992
30            New Jersey    9267130
31            New Mexico    2115877
32              New York   19835913
33        North Carolina   10551162
34          North Dakota     774948
35                  Ohio   11780017
36              Oklahoma    3986639
37                Oregon    4246155
38          Pennsylvania   12964056
39          Rhode Island    1095610
40        South Carolina    5190705
41          South Dakota     895376
42             Tennessee    6975218
43                 Texas   29527941
44                  Utah    3337975
45               Vermont     645570
46              Virginia    8642274
47            Washington    7738692
48         West Virginia    1782959
49             Wisconsin    5895908
50               Wyoming     578803
51           Puerto Rico    3263584

In [87]:
#Merge and format data
population_covid_df = pd.merge(US_Population_df, State_COVID_19_Activity_df, on=['PROVINCE_STATE_NAME'])
population_covid_df["POPULATION"]=population_covid_df["POPULATION"].astype(int)
#Population_COVID_df.dtypes
population_covid_df

,PROVINCE_STATE_NAME,POPULATION,PEOPLE_DEATH_NEW_COUNT,PEOPLE_POSITIVE_NEW_CASES_COUNT
0,Alabama,5039877,19567,1300733
1,Alaska,732673,1211,250471
2,Arizona,7276316,29951,2021524
3,Arkansas,3025891,11385,808777
4,California,39237836,90419,9237118
5,Colorado,5812069,12366,1389860
6,Connecticut,3605597,10848,756004
7,Delaware,1003384,2907,261594
8,District of Columbia,670050,1340,141943
9,Florida,21781128,73830,5899185
10,Georgia,10799566,36343,2434731
11,Hawaii,1441553,1406,241955
12,Idaho,1900923,4930,446138
13,Illinois,12671469,35644,3144294
14,Indiana,6805985,23566,1702292
15,Iowa,3193079,9529,763063
16,Kansas,2934582,8519,776663
17,Kentucky,4509394,15418,1336916
18,Louisiana,4624047,17248,1237028
19,Maine,1372247,2283,244044
20,Maryland,6165129,14423,1031797
21,Massachusetts,6984723,20241,1616320
22,Michigan,10050811,35922,2408493
23,Minnesota,5707390,12508,1451743
24,Mississippi,2949965,12436,797161
25,Missouri,6168187,18692,1307175
26,Montana,1104271,3363,274221
27,Nebraska,1963692,3738,475669
28,Nevada,3143991,10752,712287
29,New Hampshire,1388992,2478,304845
30,New Jersey,9267130,33431,2255179
31,New Mexico,2115877,7501,522287
32,New York,19835913,27465,2774506
33,North Carolina,10551162,23415,2661333
34,North Dakota,774948,2232,241127
35,Ohio,11780017,38423,2697058
36,Oklahoma,3986639,14267,1039788
37,Oregon,4246155,7502,721311
38,Pennsylvania,12964056,44663,2817766
39,Rhode Island,1095610,3530,342433
40,South Carolina,5190705,17767,1474272
41,South Dakota,895376,2912,237812
42,Tennessee,6975218,25626,1962155
43,Texas,29527941,88291,6749668
44,Utah,3337975,4652,928257
45,Vermont,645570,636,122590
46,Virginia,8642274,20236,1701458
47,Washington,7738692,12747,1498708
48,West Virginia,1782959,6856,501204
49,Wisconsin,5895908,14413,1610673
50,Wyoming,578803,1812,156550
51,Puerto Rico,3263584,0,547687

In [88]:
#Add %Cases and %Death count with US state % population
population_covid_df["Perc_Cases"]=(population_covid_df["PEOPLE_POSITIVE_NEW_CASES_COUNT"]/population_covid_df["POPULATION"]*100)
population_covid_df["Perc_Death"]=(population_covid_df["PEOPLE_DEATH_NEW_COUNT"]/population_covid_df["POPULATION"]*100)
population_covid_df=population_covid_df.sort_values("Perc_Cases")
population_covid_df

,PROVINCE_STATE_NAME,POPULATION,PEOPLE_DEATH_NEW_COUNT,PEOPLE_POSITIVE_NEW_CASES_COUNT,Perc_Cases,Perc_Death
32,New York,19835913,27465,2774506,13.987287,0.138461
20,Maryland,6165129,14423,1031797,16.736016,0.233945
51,Puerto Rico,3263584,0,547687,16.781765,0.000000
11,Hawaii,1441553,1406,241955,16.784329,0.097534
37,Oregon,4246155,7502,721311,16.987392,0.176677
19,Maine,1372247,2283,244044,17.784262,0.166369
45,Vermont,645570,636,122590,18.989420,0.098518
47,Washington,7738692,12747,1498708,19.366425,0.164718
46,Virginia,8642274,20236,1701458,19.687619,0.234151
6,Connecticut,3605597,10848,756004,20.967512,0.300866
8,District of Columbia,670050,1340,141943,21.183941,0.199985
25,Missouri,6168187,18692,1307175,21.192208,0.303039
38,Pennsylvania,12964056,44663,2817766,21.735219,0.344514
29,New Hampshire,1388992,2478,304845,21.947211,0.178403
10,Georgia,10799566,36343,2434731,22.544712,0.336523
28,Nevada,3143991,10752,712287,22.655504,0.341986
43,Texas,29527941,88291,6749668,22.858580,0.299008
35,Ohio,11780017,38423,2697058,22.895196,0.326171
21,Massachusetts,6984723,20241,1616320,23.140789,0.289790
12,Idaho,1900923,4930,446138,23.469546,0.259348
4,California,39237836,90419,9237118,23.541354,0.230438
15,Iowa,3193079,9529,763063,23.897404,0.298427
5,Colorado,5812069,12366,1389860,23.913343,0.212764
22,Michigan,10050811,35922,2408493,23.963171,0.357404
27,Nebraska,1963692,3738,475669,24.223198,0.190356
30,New Jersey,9267130,33431,2255179,24.335247,0.360748
31,New Mexico,2115877,7501,522287,24.684185,0.354510
13,Illinois,12671469,35644,3144294,24.813966,0.281293
26,Montana,1104271,3363,274221,24.832763,0.304545
14,Indiana,6805985,23566,1702292,25.011692,0.346254
33,North Carolina,10551162,23415,2661333,25.223127,0.221919
23,Minnesota,5707390,12508,1451743,25.436198,0.219154
0,Alabama,5039877,19567,1300733,25.808824,0.388244
7,Delaware,1003384,2907,261594,26.071175,0.289720
36,Oklahoma,3986639,14267,1039788,26.081820,0.357870
16,Kansas,2934582,8519,776663,26.465882,0.290297
41,South Dakota,895376,2912,237812,26.560015,0.325226
3,Arkansas,3025891,11385,808777,26.728557,0.376253
18,Louisiana,4624047,17248,1237028,26.752064,0.373007
24,Mississippi,2949965,12436,797161,27.022727,0.421564
50,Wyoming,578803,1812,156550,27.047199,0.313060
9,Florida,21781128,73830,5899185,27.083928,0.338963
49,Wisconsin,5895908,14413,1610673,27.318489,0.244458
2,Arizona,7276316,29951,2021524,27.782246,0.411623
44,Utah,3337975,4652,928257,27.808986,0.139366
48,West Virginia,1782959,6856,501204,28.110798,0.384529
42,Tennessee,6975218,25626,1962155,28.130375,0.367386
40,South Carolina,5190705,17767,1474272,28.402153,0.342285
17,Kentucky,4509394,15418,1336916,29.647354,0.341908
34,North Dakota,774948,2232,241127,31.115249,0.288019
39,Rhode Island,1095610,3530,342433,31.255009,0.322195
1,Alaska,732673,1211,250471,34.185919,0.165285

In [89]:
population_covid_df.columns

Index(['PROVINCE_STATE_NAME', 'POPULATION', 'PEOPLE_DEATH_NEW_COUNT',
       'PEOPLE_POSITIVE_NEW_CASES_COUNT', 'Perc_Cases', 'Perc_Death'],
      dtype='object')

In [90]:
population_covid_df.columns=['province_state_name', 'population',
       'people_death_new_count', 'people_positive_new_cases_count',
       'perc_cases', 'perc_death']
population_covid_df

,province_state_name,population,people_death_new_count,people_positive_new_cases_count,perc_cases,perc_death
32,New York,19835913,27465,2774506,13.987287,0.138461
20,Maryland,6165129,14423,1031797,16.736016,0.233945
51,Puerto Rico,3263584,0,547687,16.781765,0.000000
11,Hawaii,1441553,1406,241955,16.784329,0.097534
37,Oregon,4246155,7502,721311,16.987392,0.176677
19,Maine,1372247,2283,244044,17.784262,0.166369
45,Vermont,645570,636,122590,18.989420,0.098518
47,Washington,7738692,12747,1498708,19.366425,0.164718
46,Virginia,8642274,20236,1701458,19.687619,0.234151
6,Connecticut,3605597,10848,756004,20.967512,0.300866
8,District of Columbia,670050,1340,141943,21.183941,0.199985
25,Missouri,6168187,18692,1307175,21.192208,0.303039
38,Pennsylvania,12964056,44663,2817766,21.735219,0.344514
29,New Hampshire,1388992,2478,304845,21.947211,0.178403
10,Georgia,10799566,36343,2434731,22.544712,0.336523
28,Nevada,3143991,10752,712287,22.655504,0.341986
43,Texas,29527941,88291,6749668,22.858580,0.299008
35,Ohio,11780017,38423,2697058,22.895196,0.326171
21,Massachusetts,6984723,20241,1616320,23.140789,0.289790
12,Idaho,1900923,4930,446138,23.469546,0.259348
4,California,39237836,90419,9237118,23.541354,0.230438
15,Iowa,3193079,9529,763063,23.897404,0.298427
5,Colorado,5812069,12366,1389860,23.913343,0.212764
22,Michigan,10050811,35922,2408493,23.963171,0.357404
27,Nebraska,1963692,3738,475669,24.223198,0.190356
30,New Jersey,9267130,33431,2255179,24.335247,0.360748
31,New Mexico,2115877,7501,522287,24.684185,0.354510
13,Illinois,12671469,35644,3144294,24.813966,0.281293
26,Montana,1104271,3363,274221,24.832763,0.304545
14,Indiana,6805985,23566,1702292,25.011692,0.346254
33,North Carolina,10551162,23415,2661333,25.223127,0.221919
23,Minnesota,5707390,12508,1451743,25.436198,0.219154
0,Alabama,5039877,19567,1300733,25.808824,0.388244
7,Delaware,1003384,2907,261594,26.071175,0.289720
36,Oklahoma,3986639,14267,1039788,26.081820,0.357870
16,Kansas,2934582,8519,776663,26.465882,0.290297
41,South Dakota,895376,2912,237812,26.560015,0.325226
3,Arkansas,3025891,11385,808777,26.728557,0.376253
18,Louisiana,4624047,17248,1237028,26.752064,0.373007
24,Mississippi,2949965,12436,797161,27.022727,0.421564
50,Wyoming,578803,1812,156550,27.047199,0.313060
9,Florida,21781128,73830,5899185,27.083928,0.338963
49,Wisconsin,5895908,14413,1610673,27.318489,0.244458
2,Arizona,7276316,29951,2021524,27.782246,0.411623
44,Utah,3337975,4652,928257,27.808986,0.139366
48,West Virginia,1782959,6856,501204,28.110798,0.384529
42,Tennessee,6975218,25626,1962155,28.130375,0.367386
40,South Carolina,5190705,17767,1474272,28.402153,0.342285
17,Kentucky,4509394,15418,1336916,29.647354,0.341908
34,North Dakota,774948,2232,241127,31.115249,0.288019
39,Rhode Island,1095610,3530,342433,31.255009,0.322195
1,Alaska,732673,1211,250471,34.185919,0.165285

In [91]:
from sqlalchemy import create_engine

In [92]:
protocol = 'postgresql'
username = 'postgres'
password = 'indra1004'
host = 'localhost'
port = 5432
database_name = 'population_covid_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [93]:
engine.table_names()

/var/folders/qh/44677dhj5kv978487x28nvmm0000gn/T/ipykernel_27079/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['state_covid_19_activity', 'STATE_COVID_19_ACTIVITY']

In [63]:
# State_COVID_19_Activity_df.columns

In [64]:
# State_COVID_19_Activity_df.columns=['province_state_name', 'people_positive_cases_count',
#        'people_death_new_count', 'people_positive_new_cases_count',
#        'people_death_count']
# State_COVID_19_Activity_df

In [65]:
# State_COVID_19_Activity_df.describe()

In [66]:
# State_COVID_19_Activity_df.to_sql(name='state_covid_19_activity', con=engine, if_exists='append', index=False)

In [67]:
# US_Population_df.columns

In [68]:
# US_Population_df.columns = ['province_state_name', 'population']

In [69]:
# US_Population_df

In [70]:
# US_Population_df.to_sql(name='us_population', con=engine, if_exists='append', index=False)

In [71]:
# pd.read_sql_query('select * from State_COVID_19_Activity', con=engine).head()

In [72]:
# pd.read_sql_query('select * from US_Population', con=engine).head()

In [84]:
Population_COVID_df.to_sql(name='STATE_COVID_19_ACTIVITY', con=engine, if_exists='append', index=False)

In [85]:
pd.read_sql_query('select * from STATE_COVID_19_ACTIVITY', con=engine).head()

Empty DataFrame
Columns: [province_state_name, population, people_death_new_count, people_positive_new_cases_count, perc_cases, perc_death]
Index: []